<div class="title">This is our title</div>

<div class="navButtons">Here's where our nav buttons go</div>




<div class="todo">

ToDo Status

  <ul class="todos">
    <li ng-repeat="todo in toDoService.todos | filter:todo.status='toDo'" >
      <h4 class="todo_title">
        {{todo.title}}
      </h4>
      <p class="todo_created_By">{{todo.created_By}}</p>
    </li>
  </ul>

</div>






<div class="inProgress">
In Progress Status

  <ul class="todos">
    <li ng-repeat="todo in toDoService.todos | filter:todo.status='inProgress'" >
      <h4 class="todo_title">
        {{todo.title}}
      </h4>
      <p class="todo_created_By">{{todo.created_By}}</p>
    </li>
  </ul>

</div>




<div class="completed">
Completed Status
  <ul class="todos">
    <li ng-repeat="todo in toDoService.todos | filter:todo.status='done'" >
      <h4 class="todo_title">
        {{todo.title}}
      </h4>
      <p class="todo_created_By">{{todo.created_By}}</p>
    </li>
  </ul>

</div>