
<div ng-hide="myValue" class="inputBar">
  <div class="createNewTask">
    <fieldset>
    <h3>Create New Task</h3>

    <div>
      <label for="new_task_title">Title</label>
      <input id="new_task_title" type="text" ng-model='new_todo.title'>
    </div>

    <div>
      <label for="new_task_priority">Priority</label>
      <select id="new_task_priority" ng-model='new_todo.prioritySelection'>
        <option value="BLOCKER">BLOCKER</option>
        <option value="High">High</option>
        <option value="medium">medium</option>
        <option value="low">low</option>
      </select>
    </div>

    <div>
      <label for="new_task_assigned">Assigned To</label>
      <input id="new_task_assigned" type="text" ng-model='new_todo.assignedTo'>
    </div>

    <div class="commit">
      <button type='button' ng-click='postTodo(new_todo); new_todo = null'>Add Task</button>
    </div>

    </fieldset>
  </div>

  <div class="editTask">
    <fieldset>
    <h3>Edit Task</h3>

    <div>
      <label for="new_task_title">Title</label>
      <input id="new_task_title" type="text" ng-model='new_todo.title'>
    </div>

    <div>
      <label for="new_task_priority">Priority</label>
      <select id="new_task_priority" ng-model='new_todo.prioritySelection'>
        <option value="BLOCK">BLOCK</option>
        <option value="High">High</option>
        <option value="medium">medium</option>
        <option value="low">low</option>
      </select>
    </div>

    <div>
      <label for="new_task_assigned">Assigned To</label>
      <input id="new_task_assigned" type="text" ng-model='new_todo.assignedTo'>
    </div>

    <div class="commit">
      <button type='button' ng-click='postTodo(new_todo); new_todo = null'>Add Task</button>
    </div>

    </fieldset>
  </div>
</div>


<div class="mainKanbanBoard">

  <div class="todoColumn">ToDo Status Column
    <div class="taskCard" ng-repeat="task in tasks | statusCheck:'toDo'" >
      <div class="content">
        <h2 class="todo_title">{{todo.title}}</h2>
        <h4 class="todo_prioritySelection">Priority: {{todo.priority}}</h4>
        <h4 class="todo_created_By">Created By: {{todo.created_by}}</h4>
        <h4 class="todo_assigned_To">Assigned To: {{todo.assigned_to}}</h4>
        <div class="buttonBar">
          <button class="taskCardButton" type="button" ng-click="deleteThis(todo);"> <== </button>
          <button class="taskCardButton" type="button" ng-click="priorityUp(task)"> UP </button>
          <button class="taskCardButton" type="button" ng-click="priorityDown(task)"> DOWN </button>
          <button class="taskCardButton" type="button" ng-click="changeStatusRight(task)"> ==> </button>
        </div>
      </div>
    </div>
  </div>

  <div class="inProgressColumn">In Progress Status
    <div ng-repeat="todo in tasks | statusCheck:'inProgress'" class="taskCard">
      <div class="content">
        <h2 class="todo_title">{{todo.title}}</h2>
        <h4 class="todo_prioritySelection">Priority: {{todo.priority}}</h4>
        <h4 class="todo_created_By">Created By: {{todo.created_by}}</h4>
        <h4 class="todo_assigned_To">Assigned To: {{todo.assigned_to}}</h4>
        <div class="buttonBar">
          <button class="taskCardButton" type="button" ng-click="toDoService.reverseStatusChange(todo);"> <== </button>
          <button class="taskCardButton" type="button" ng-click="priorityUp(task)"> UP </button>
          <button class="taskCardButton" type="button" ng-click="priorityDown(task)"> DOWN </button>
          <button class="taskCardButton" type="button" ng-click="toDoService.changeStatus(todo);"> ==> </button>
        </div>
      </div>
    </div>
  </div>

  <div class="completedColumn">Completed Status
    <div ng-repeat="todo in tasks | statusCheck:'done'" class="taskCard">
      <div class="content">
        <h2 class="todo_title">{{todo.title}}</h2>
        <h4 class="todo_prioritySelection">Priority: {{todo.priority}}</h4>
        <h4 class="todo_created_By">Created By: {{todo.created_by}}</h4>
        <h4 class="todo_assigned_To">Assigned To: {{todo.assigned_to}}</h4>
        <div class="buttonBar">
          <button class="taskCardButton" type="button" ng-click="toDoService.reverseStatusChange(todo);"> <== </button>
          <button class="taskCardButton" type="button" ng-click="priorityUp(task)"> UP </button>
          <button class="taskCardButton" type="button" ng-click="priorityDown(task)"> DOWN </button>
          <button class="taskCardButton" type="button" ng-click="deleteThis(todo);"> ==> </button>
        </div>
      </div>
  </div>
</div>