
<div class="createNewToDo">
  <fieldset>
  <h3>Create New Task</h3>

  <div>
    <label for="new_task_title">Title</label>
    <input id="new_task_title" type="text" ng-model='new_todo.title'>
  </div>

  <div>
    <label for="new_task_priority">Priority</label>
    <input id="new_task_priority" type="text" ng-model='new_todo.prioritySelection'>
  </div>

  <div>
    <label for="new_task_created">Created By</label>
    <input id="new_task_created" type="text" ng-model='new_todo.createdBy'>
  </div>

  <div>
    <label for="new_task_assigned">Assigned To</label>
    <input id="new_task_assigned" type="text" ng-model='new_todo.assignedTo'>
  </div>

  <div class="commit">
    <button type='button' ng-click='postTodo(new_todo); new_todo = null'>Add Task</button>
  </div>

  </fieldset>
</div>



<div class="mainKanbanBoard">

  <div class="todoColumn">ToDo Status Column
    <div ng-repeat="todo in tasks | filter:todo.status='toDo'" class="testCard" id="todoCard">
      <div class="content">
        <h2 class="todo_title">{{todo.title}}</h2>
        <h4 class="todo_prioritySelection">Priority: {{todo.priority}}</h4>
        <h4 class="todo_created_By">Created By: {{todo.created_by}}</h4>
        <h4 class="todo_assigned_To">Assigned To: {{todo.assigned_to}}</h4>
        <div class="moveButtons">
          <div class="rightButton">
            <button type="button" ng-click="toDoService.changeStatus(todo);"> Start </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="inProgressColumn">In Progress Status
    <div ng-repeat="todo in tasks | filter:todo.status='inProgress'" class="testCard" id="inProgressCard">
      <div class="content">
        <h2 class="todo_title">{{todo.title}}</h2>
        <h4 class="todo_prioritySelection">Priority: {{todo.priority}}</h4>
        <h4 class="todo_created_By">Created By: {{todo.created_by}}</h4>
        <h4 class="todo_assigned_To">Assigned To: {{todo.assigned_to}}</h4>
        <div class="moveButtons">
          <div class="rightButton">
            <button type="button" ng-click="toDoService.reverseStatusChange(todo);"> <~~ </button>
            <button type="button" ng-click="toDoService.changeStatus(todo);"> Complete </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="completedColumn">Completed Status
    <div ng-repeat="todo in tasks | filter:todo.status='done'" class="testCard" id="doneCard">
      <div class="content">
        <h2 class="todo_title">{{todo.title}}</h2>
        <h4 class="todo_prioritySelection">Priority: {{todo.priority}}</h4>
        <h4 class="todo_created_By">Created By: {{todo.created_by}}</h4>
        <h4 class="todo_assigned_To">Assigned To: {{todo.assigned_to}}</h4>
        <div class="moveButtons">
          <div class="rightButton">
            <button type="button" ng-click="toDoService.reverseStatusChange(todo);"> <==8 </button>
            <button type="button" ng-click="deleteThis(todo);"> Done </button>
          </div>
        </div>
      </div>
  </div>
</div>