
    <h2>Log In</h2>
    <div id="form">
      <form method="POST" action="/users/login" enctype="application/x-www-form-urlencoded" id="form1" >
          <p>username:</p>
            <br>
            <input type='text' size="50" name="username">
          <br>
          <p>password:</p>
            <br>
            <input type='text' size="50" name="password">
          <br>
          <button type="submit" form="form1" value="Submit" id="submit">Submit</button>
      </form>

      <a ng-href="/#/users/register">Register</a>
    </div>
