<fieldset>
  <h2>Register</h2>
  <div id="form">

    <div>
      <label for="new_user_username">username:</label>
      <br>
      <input id="new_user_username" type='text' size="50" ng-model="new_user.username">
    </div>

    <div>
      <label for="new_user_verifyUsername">verify username:</label>
      <br>
      <input type='text' size="50" id="new_user_verifyUsername" ng-model="new_user.verifyUsername">
    </div>

    <br>

    <div>
      <label for="new_user_password">password:</label>
      <br>
      <input type="text" size="50" id="new_user_password" ng-model="new_user.password">
    </div>

    <div>
      <label for="new_user_verifyPassword">verify password:</label>
      <br>
      <input type="text" size="50" id="new_user_verifyPassword" ng-model="new_user.verifyPassword">
    </div>

    <br>

  <button type="submit" value="Submit" id="submit" ng-click="registerUser(new_user); new_user = null">Submit</button>

  <a ng-href="/#/users/login">Log In</a>

  </div>
</fieldset>