
.title {
  flex: 0 0 100%;
}

.createNewToDo {

}

.mainKanbanBoard {
  display: flex;
  flex-flow: row wrap;
  height: 600px;
  width: 900px;
  border: 2px dashed orange;
}

.todoColumn {
  height: 100%;
  flex: 0 0 32%;
  border: 1px solid red;
}

.inProgress {
  height: 100%;
  flex: 0 0 32%;
  border: 1px solid blue;
}

.completed {
  height: 100%;
  flex: 0 0 32%;
  border: 1px solid green;
}

.testCard {
  height: auto;
  width: auto;
  margin-top: 5px;
  border: 2px solid purple;
}