
.title {
  flex: 0 0 100%;
}

.title h1{
  text-align: center;
}

.createNewToDo {

}

.content{
  margin: 5px;
  margin-bottom: 5px;
}



.mainKanbanBoard {
  display: flex;
  flex-flow: row wrap;
  height: 800px;
  width: 100%;
  border: 2px dashed orange;
}

.testCard {
  height: auto;
  width: auto;
  margin-top: 5px;
  margin-left: 5px;
  margin-right:5px;
}

#todoCard {
  border: 2px solid purple;
  background-color: white;
}

#inProgressCard{
  border: 2px solid blue;
  background-color: white;
}

#doneCard{
  border: 2px solid green;
  background-color: white;
}

.todo_title {
  margin: 1px;
}

.todo_prioritySelection {
  margin: 1px;
}

.todo_created_By {
  margin: 1px;
}

.rightButton {
  align: right;
  border: 1px solid brown;
}

.todo_assigned_To {
  margin: 1px;
}

.todoColumn {
  height: 100%;
  flex: 0 0 32.5%;
  border: 1px solid red;
  background-color: rgba(255,0,0,0.3);
}

.inProgressColumn {
  height: 100%;
  flex: 0 0 32.5%;
  border: 1px solid blue;
  background-color: rgba(0,0,255,0.3);
}

.completedColumn {
  height: 100%;
  flex: 0 0 32.5%;
  border: 1px solid green;
  background-color: rgba(0,255,0,0.3);
}